# Makemytrip Recruitment Challange by AnalyticsVidya.com

In [1]:
import pandas as pd
import numpy as np

Read the data

In [2]:
data = pd.read_csv('AirlinePassengerReview.csv')

In [7]:
data[:2]

,airline_name,Author,Author_country,Date,Review,Aircraft Type,Traveller_Type,Cabin_Flown,Route,Overall_Rating,Seat_Comfort_Rating,Cabin_Staff_Rating,Food_Beverages_Rating,Inflight_Entertainment_Rating,Ground_Service_Rating,Wifi_Connectivity_Rating,Value_Money_Rating,Recommended (1: Yes/ 0: No)
0,adria-airways,D Ito,Germany,10-04-2015,Outbound flight FRA/PRN A319. 2 hours 10 min f...,NaN,NaN,Economy,NaN,7,4,4,4,0,NaN,NaN,4,1
1,adria-airways,Ron Kuhlmann,United States,05-01-2015,Two short hops ZRH-LJU and LJU-VIE. Very fast ...,NaN,NaN,Business Class,NaN,10,4,5,4,1,NaN,NaN,5,1