# Makemytrip Recruitment Challange by Ideatory.com

In [1]:
import pandas as pd
import numpy as np

Read the data

In [2]:
data = pd.read_csv('AirlinePassengerReview.csv')

In [7]:
data[:2]

,airline_name,Author,Author_country,Date,Review,Aircraft Type,Traveller_Type,Cabin_Flown,Route,Overall_Rating,Seat_Comfort_Rating,Cabin_Staff_Rating,Food_Beverages_Rating,Inflight_Entertainment_Rating,Ground_Service_Rating,Wifi_Connectivity_Rating,Value_Money_Rating,Recommended (1: Yes/ 0: No)
0,adria-airways,D Ito,Germany,10-04-2015,Outbound flight FRA/PRN A319. 2 hours 10 min f...,NaN,NaN,Economy,NaN,7,4,4,4,0,NaN,NaN,4,1
1,adria-airways,Ron Kuhlmann,United States,05-01-2015,Two short hops ZRH-LJU and LJU-VIE. Very fast ...,NaN,NaN,Business Class,NaN,10,4,5,4,1,NaN,NaN,5,1

In [10]:
reviews = data['Review'].values
data = data.drop('Review',1)

In [11]:
data[:2]

,airline_name,Author,Author_country,Date,Aircraft Type,Traveller_Type,Cabin_Flown,Route,Overall_Rating,Seat_Comfort_Rating,Cabin_Staff_Rating,Food_Beverages_Rating,Inflight_Entertainment_Rating,Ground_Service_Rating,Wifi_Connectivity_Rating,Value_Money_Rating,Recommended (1: Yes/ 0: No)
0,adria-airways,D Ito,Germany,10-04-2015,NaN,NaN,Economy,NaN,7,4,4,4,0,NaN,NaN,4,1
1,adria-airways,Ron Kuhlmann,United States,05-01-2015,NaN,NaN,Business Class,NaN,10,4,5,4,1,NaN,NaN,5,1

Save all variables as featureNames. Assumint the text variables are categorical & replacing them with numeric Ids

In [16]:
from sklearn.preprocessing import LabelEncoder
featureNames = data.columns[0:-1]
print featureNames

Index([u'airline_name', u'Author', u'Author_country', u'Date',
       u'Aircraft Type', u'Traveller_Type', u'Cabin_Flown', u'Route',
       u'Overall_Rating', u'Seat_Comfort_Rating', u'Cabin_Staff_Rating',
       u'Food_Beverages_Rating', u'Inflight_Entertainment_Rating',
       u'Ground_Service_Rating', u'Wifi_Connectivity_Rating',
       u'Value_Money_Rating'],
      dtype='object')

In [18]:
le = LabelEncoder()
for c in featureNames:
    if data[c].dtype.name == 'object':
        le.fit(data[c])
        data[c] = le.transform(data[c]).astype(int)

data = data.fillna(0)

F:\Program files\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))
F:\Program files\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:259: FutureWarning: numpy equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  return aux[:-1][aux[1:] == aux[:-1]]

In [19]:
data[:2]

,airline_name,Author,Author_country,Date,Aircraft Type,Traveller_Type,Cabin_Flown,Route,Overall_Rating,Seat_Comfort_Rating,Cabin_Staff_Rating,Food_Beverages_Rating,Inflight_Entertainment_Rating,Ground_Service_Rating,Wifi_Connectivity_Rating,Value_Money_Rating,Recommended (1: Yes/ 0: No)
0,0,6138,55,703,0,0,2,0,7,4,4,4,0,0,0,4,1
1,0,24495,150,301,0,0,1,0,10,4,5,4,1,0,0,5,1

Sentiment Analysis of the reviews